{% extends 'base.html'%}
{% block title %}
    Register
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">
        <form method=POST class="form-register" style="color: white">
            {{ form.hidden_tag() }}
            <h1 class="text-xl-center font-weight-bold">
                Please Create your Account
            </h1>
            <br>
            {{ form.username.label() }}
            {{ form.username(class="form-control", placeholder="User Name") }}

            {{ form.email.label() }}
            {{ form.email(class="form-control", placeholder="Email Address") }}

            {{ form.password1.label() }}
            {{ form.password1(class="form-control", placeholder="Password") }}

            {{ form.password2.label() }}
            {{ form.password2(class="form-control", placeholder="Confirm Password") }}
            <br>

            {{ form.submit(class="btn btn-success btn-lg btn-block") }}
            <br>
            <div class="checkbox mb-3">
                <h6>Already have an account?</h6>
                <a class="btn btn-outline-primary btn-sm" href="{{ url_for('login_page') }}">Login</a>
            </div>
        </form>
    </div>
</body>
{% endblock %}